@font-face {
    font-family: 'The Led Display';
    src: url('../fonts/TheLedDisplay.ttf') format('truetype');
}

@font-face {
    font-family: 'Pixellari';
    src: url('../fonts/Pixellari.ttf') format('truetype');
}

:root {
    --monitor-light-color: #d3ccbc;
    --monitor-dark-color: #ccc5b3;
    --monitor-shadow-light: #d7d4c1;
    --monitor-shadow-medium: #b7b19b;
    --monitor-shadow-dark: #908e7a;
    --monitor-shadow-very-dark: #6e6d5f;
    --monitor-gradient: linear-gradient(to bottom, var(--monitor-light-color), var(--monitor-dark-color));
    --monitor-shadow-texture: 
        2px -2px 30px #493e2a33 inset, 
        -2px -2px 30px #493e2a33 inset, 
        1px -1px 1px #493e2a33 inset, 
        -1px -1px 1px #493e2a33 inset, 
        0 2px 30px #ddd inset;
    --screen-bg: #000;
    --phosphor-main: #33FF33; 
    --phosphor-glow: #33ff00;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    height: 100svh; 
    overflow: hidden;
    position: fixed;
}

body {
    background-color: #1a1a1a;
    background-image: radial-gradient(circle, #252525 0%, #0d0d0d 100%);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Courier New', monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.computer-container {
    --height-monitor: 90vh;
    --width-monitor: calc(var(--height-monitor) * 1.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.computer-container .monitor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    width: var(--width-monitor);
    height: var(--height-monitor);
    background: var(--monitor-gradient);
    border-radius: 10px;
    box-shadow: 
        var(--monitor-shadow-texture), 
        0 20px 50px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.computer-container .monitor .monitor-inner {
    width: calc(var(--width-monitor) * 0.88);
    height: calc(var(--height-monitor) * 0.80);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    border: 1.5vh solid var(--monitor-shadow-medium);
    border-top: 1.5vh solid var(--monitor-shadow-dark);
    border-bottom: 1.5vh solid var(--monitor-shadow-light);
}

.computer-container .monitor .monitor-inner .screen-container {
    width: 100%;
    height: 100%;
    background: #111;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    box-shadow: 10px 10px 20px 14px #0008 inset, -10px -10px 20px 14px #0008 inset;
    position: relative;
    overflow: hidden;
}

.computer-container .monitor .monitor-inner .screen-container .screen {
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--screen-bg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.computer-container .monitor .monitor-bottom {
    width: 100%;
    height: 6vh;
    position: absolute;
    bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60%;
    box-sizing: border-box;
}

.computer-container .monitor .monitor-bottom .power-switch {
    width: 4vh;
    height: 4vh;
    background: linear-gradient(to bottom, var(--monitor-shadow-dark), var(--monitor-shadow-light));
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.computer-container .monitor .monitor-bottom .power-switch .button {
    --symbol-color: #888;
    width: 2.5vh;
    height: 2.5vh;
    border: 2px solid #555;
    border-radius: 50%;
    background: #cac1b2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
}

.computer-container .monitor .monitor-bottom .power-switch .button.clicked {
    background: var(--monitor-shadow-medium);
    transform: scale(0.95);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.computer-container .monitor .monitor-bottom .power-switch .button::before {
    content: "";
    display: block;
    width: 1vh;
    height: 1vh;
    border: 2px solid var(--symbol-color);
    border-radius: 50%;
    clip-path: polygon(15% 0, 0 0, 0 102%, 102% 100%, 102% 0, 85% 0, 50% 50%);
}

.computer-container .monitor .monitor-bottom .power-switch .button::after {
    content: "";
    display: block;
    width: 0.3vh;
    height: 1vh;
    border-radius: 1px;
    border-left: 2px solid var(--symbol-color);
    position: absolute;
    transform: translate(0.2vh, -0.4vh);
}

#power-led {
    width: 1vh;
    height: 1vh;
    border-radius: 50%;
    border: 1px solid var(--monitor-shadow-dark);
    transition: all 0.3s ease;
    background-color: #330000;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8);
    animation: blink-standby 3s infinite ease-in-out;
}

#power-led.on {
    background: #5cef11;
    box-shadow: 0 0 10px #5cef11, inset 0 0 2px rgba(0, 0, 0, 0.2);
    animation: none;
}

#mobile-power-btn {
    display: none;
}

.glow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.7);
    z-index: 51;
    pointer-events: none;
    animation: flicker 0.15s infinite;
    opacity: 0.2;
}

@keyframes flicker {
    0% { opacity: 0.15; }
    50% { opacity: 0.2; }
    100% { opacity: 0.15; }
}

@keyframes blink-standby {
    0%, 100% { background-color: #330000; box-shadow: 0 0 2px #330000; }
    50% { background-color: #ff0000; box-shadow: 0 0 8px #ff0000; }
}

.selection-interface {
    flex-grow: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 20;
    color: var(--phosphor-main);
}

#case-title {
    font-family: 'The Led Display', monospace;
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 2px solid var(--phosphor-main);
    margin-bottom: 20px;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

/* container pastas e scroll bar */
.case-list-scroll {
    flex-grow: 1;
    overflow-y: auto;
    margin-right: -30px; 
    padding-right: 30px; 
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    scrollbar-width: thin;
    scrollbar-color: var(--phosphor-main) #000;
}

.case-card {
    position: relative;
    border: 2px solid var(--phosphor-main);
    border-radius: 5px; 
    padding: 15px;
    display: flex;
    align-items: center;
    background: rgba(51, 255, 51, 0.15);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-left: 2px;
    font-family: 'Pixellari', monospace;
}


.case-card::before {
    content: "";
    position: absolute;
    top: -12px; 
    width: 70px; 
    height: 10px;
    background-color: #33FF33; 
    border: 2px solid var(--phosphor-main);
    border-bottom: none; 
    border-radius: 5px 5px 0 0; 
    z-index: 1;
}

.card-icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-icon img {
    width: 100%;
    height: auto;
}

.card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-content h2 {
    font-size: 1.3rem;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: normal;
}

.card-meta {
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
}

/* estados dos cartões (js) */
.case-card:hover {
    box-shadow: 0 0 15px rgba(51, 255, 51, 0.3);
    transform: translateX(5px);
}

.case-card.blocked {
    border-color: #5C5C5C;
    color: #8E8E8E;
    border-style: solid;
    cursor: not-allowed;
    background-color: rgba(92, 92, 92, 0.15) !important;
}

.case-card.blocked::before {
    border-color: #5C5C5C;
    border-style: solid;
    background-color: #5C5C5C;
    border-bottom: 0px;
}

.case-card.blocked .card-icon img {
    filter: grayscale(100%) opacity(0.5);
}

.case-card.blocked:hover {
    box-shadow: none;
    transform: none;
    border-color: #ff3333;
    color: #ff3333;
}

.case-card.blocked:hover::before {
    border-color: #ff3333;
}

/* área btn voltar */
.footer-controls {
    margin-left: -30px;
    margin-right: -30px;
    width: calc(100% + 60px); 
    margin-bottom: -50px; 
    padding-bottom: 30px;
    padding-top: 10px;
    border-top: 2px solid var(--phosphor-main);
    margin-top: 20px;  
    display: flex;
    justify-content: center;
    background: #000; 
    flex-shrink: 0; 
    position: relative;
    z-index: 50;
}

#btn-voltar {
    background: transparent;
    border: 2px solid var(--phosphor-main);
    color: var(--phosphor-main);
    font-family: 'The Led Display', monospace;
    font-size: 1.5rem;
    padding: 2px 40px;
    cursor: pointer;
    text-shadow: 0 0 5px var(--phosphor-glow);
    border-radius: 5px;
    transition: 0.2s;
}

#btn-voltar:hover {
    color: #33ff00;
    box-shadow: 0 0 10px var(--phosphor-glow);
}

.screen-on {
    animation: turn-on 1.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
    opacity: 1;
    pointer-events: auto; 
}

.screen-off {
    animation: turn-off 0.55s cubic-bezier(0.23, 1, 0.32, 1) forwards;
    opacity: 0;
    pointer-events: none; 
}

@keyframes turn-on {
    0% {
        transform: scale(1, 0.005) skewX(0deg);
        opacity: 0;
        background: #fff;
        filter: brightness(5);
    }
    30% {
        transform: scale(1, 0.005) skewX(0deg);
        opacity: 1;
        background: #fff;
        filter: brightness(3);
    }
    50% {
        transform: scale(1, 0.005) skewX(0deg);
        opacity: 1;
        background: var(--screen-bg);
        filter: brightness(1);
    }
    70% {
        transform: scale(1, 1) skewX(0deg);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes turn-off {
    0% {
        transform: scale(1, 1);
        opacity: 1;
        background: var(--screen-bg);
        filter: brightness(1);
    }
    40% {
        transform: scale(1, 0.005);
        opacity: 1;
        background: var(--screen-bg);
        filter: brightness(2);
    }
    70% {
        transform: scale(0.0, 0.005);
        opacity: 1;
        background: #fff;
        filter: brightness(5);
    }
    100% {
        transform: scale(0, 0);
        opacity: 0;
    }
}

@media screen and (max-width: 1080px) {
    .monitor-bottom {
        display: none !important;
    }

    .monitor,
    .monitor-inner,
    .container,
    .computer-container {
        width: 100% !important;
        height: 100% !important;
        background: none !important;
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .screen-container {
        border: none !important;
        box-shadow: none !important;
    }

    .screen {
        position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100% !important;
        height: auto !important;
        display: flex !important;
        flex-direction: column !important;
        background-color: #000;
        border-radius: 0 !important;
        z-index: 100;
    }

    #mobile-power-btn {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px 30px;
        background: var(--phosphor-main);
        color: #000;
        border: 2px solid var(--phosphor-glow);
        font-family: 'Pixellari', monospace;
        font-size: 1.2rem;
        font-weight: bold;
        z-index: 9999;
        box-shadow: 0 0 20px var(--phosphor-glow);
        cursor: pointer;
        text-transform: uppercase;
    }

    .screen-on {
        z-index: 300 !important;
    }
    
    .selection-interface {
        padding: 15px;
    }
}